/* Body page setup */
body {
    height: 100%;
}

/* Main page setup */
.login-main {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #E8ECEA;
}

/* Form in the main body */
.login-section {
    max-width: 330px;
    margin: auto;
    width: 100%;
    background-color: #F2BD2C;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Button on the form */
.form-btn {
    width: 100%;
    border-radius: 10px;
}