

.header{
    height: 100%;
}

.header-img{
    width:100%;
}



.category-items{
display: flex;
border: solid blue 3px;
}
.product-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: grey;

}

.product-img{
width: 250px;
border-radius: 4px;
margin-right: auto;
margin-left: auto;
margin-top: 15px;
}

.about-img{
max-width: 100%;
}
.about-section{
    padding: 40px;
}

.card{
    margin-bottom: 15px;
}


