/* Typografi */


h1 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    font-weight: 400;
}


h2 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

h3 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

h4 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

h5 {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h6 {
    color: #ED5A00;
    font-family: 'Mynerve', cursive !important;
    font-style: oblique;
    font-size: 20px;
    font-weight: 400;
}

p {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

a {
    color: #ED5A00;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

a:hover {
    color: #f4965be0;
}

/* Navigation bar*/

.logo-type{
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    color: rgb(0, 0, 0) !important;
    font-family: 'Mynerve', cursive !important;
    font-style: oblique;
    font-size: 24px;
}


.navbar{
    background-color: #F2BD2C !important;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000 !important;
    margin-right: 5px;
    border-radius: 30px;
    padding: 12px !important;

}

.nav-link:hover{
    background-color: #F7D778;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    margin-right: 5px;
    padding: 12px !important;
}

.log-in-basket{
    display: flex;
    justify-content: end;
}
.logo-img{
    width: 35px;
}

.basket-img{
    width: 40px;
}

.YellowButton{
    background-color: #F2BD2C;
    color: #000;
    border-radius: 30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.YellowButton:hover {
    background-color: #F7D778;
    color: #000;
}

.WhiteButton{
    background-color: #ffffff;
    color: #333533;
    border-radius: 30px;
    border-width: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.WhiteButton:hover {
    background-color: #F7D778;
    color: #ffffff;

}

.BlackButton{
    background-color: #333533;
    color: #ffffff;
    border-radius: 30px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.BlackButton:hover {
    background-color: #F7D778;
    color: #333533;
}

/*General styling*/

html, body{
    height:100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
}

.welcome-text{
    margin-right: 10px;
    margin-top: 10px;
}
.logout-btn{
    margin-right: 5px;
    display: none;
}


/* Responsiveness for the various device types */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
}

