/* Typografi */
h1 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 400;
}


h2 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
}

h3 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
}

h4 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 400;
}

h5 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
}

h6 {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: 400;
}

p {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: darkblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
}

/* Responsiveness for the various device types */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
}