/* Body page setup */
body {
    height: 100%;
}

/* Main page setup */
.product-main {
    background-color: #FFFFFF;
}

/* Main product image*/ 
.product-image {
    margin-left: 60px;
    width: 60%;
}

.image-list {
    display: flex;
}

.active {
    color: black;
}

.breadcrumb-item {
    margin: 0 0.1rem;
}

.breadcrumbs {
    display: flex;
    vertical-align: auto;
    padding: 0.5rem 0.5rem 0.5rem 0;
    list-style: none;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: darkgray;
}

.badge img {
    height: 1.8rem;
}

.second-box {
    display: flex;
}